
input {
	padding: 2px;
	border-width: 1px;
	border: 1px solid $inputBorderColor;
}
input::-webkit-input-placeholder {
	font-size: 12px;
}
input, button, textarea {
	&:focus {
		outline: 0;
		border-color: #5a9acc;;
	}
}

@mixin commonHoverBg {
	&.hover, &:hover {
		background-color: $hoverColor;
	}
	&.active, &:active {
		background-color: $activeColor;
	}
}
@mixin commonHoverBorder {
	&:hover {
		border-color: $hoverBorderColor;
	}
	&:active {
		border-color: $activeBorderColor;
	}	
}

.my-button-component {
	padding: 0;
	display: flex;
	background-color: $baseWhite;
	align-items: center;
	justify-content: center;
	@include commonHoverBg;
	@include commonHoverBorder;
	&.my-button-normal {
		min-width: 120px;
		border: 1px solid $inputBorderColor;
		.icon {
			margin-right: 4px;
		}
		.my-button-label {
			text-align: center;
		}
		.my-button-label-main {
			font-size: 11px;
		}
		.my-button-label-sub {
			font-size: 8px;
			color: gray;
		}
		
	}
	&.my-button-icon-only {
		width: 30px;
		height: 30px;
		border-width: 0;
	}
}

.my-radio-component {
	display: flex;
	.my-radio-item {
	& {
		display: flex;
		align-items: center;
		margin-left: 4px;
		cursor: default;
		.my-radio-mark {
			height: 12px;
			min-height: 12px;
			width: 12px;
			min-width: 12px;
			border: 1px solid $tofuBoarder;
			border-radius: 50%;
			background-color: white;
			margin-right: 3px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.my-radio-label {
			white-space: nowrap;
		}
		
	}
	&.my-radio-checked .my-radio-mark:before {
		content: "";
		border: 3px solid #666;
		border-radius: 50%;
	}
	&:hover {
		.my-radio-mark {
			background-color: $hoverColor;
		}
	}

	&:active {
		.my-radio-mark {
			background-color: $activeColor;
		}
	}
	}
}

.my-search-text-component {
	overflow: hidden;
	white-space: nowrap;
	input {
		width: 100%;
	}
}

.my-list-component {
	display: flex;
	flex-direction: column;
	height: 100%;
	.my-list-header {
		width: 100%;
		max-width: 100%;
		display: flex;
		background-color: $kukokeBlue;
		.my-list-th {
			padding: 4px 4px;
			cursor: default;
			color: white;
			
			&:hover {
				background-color: #859bad;
			}
		}
	}
	.my-list-body {
		width: 100%;
		max-width: 100%;
		position: relative;
		flex-grow: 1;
	}
	.my-list-tr {
		width: 100%;
		max-width: 100%;
		display: flex;
		cursor: default;
		border-bottom: 1px solid $inputBorderColor;
		padding: 2px 0;
		@include commonHoverBg;
		.my-list-td {
			padding: 0 4px;
			display: flex;
			align-items: center;
		}
	}
}

@mixin dropdownItem {
	display: flex;
	align-items: center;
	cursor: default;
	border-bottom: 1px solid $inputBorderColor;
	@include commonHoverBg;
	&:last-of-type {
		border-bottom-width: 0;
	}	
	.icon {
		margin-right: 4px;
	}
}
.my-dropdown-component {
	display: flex;
	align-items: center;
	padding: 0 4px;
	border: 1px solid $inputBorderColor;
	cursor: default;
	@include commonHoverBg;
	@include commonHoverBorder;
	.dropdown-item {
		@include dropdownItem;
	}
	.dropdown-icon {
		margin-left: auto;
	}
}
.dropdown-items {
	border: 1px solid $inputBorderColor;
	.dropdown-item {
		@include dropdownItem;
		padding: 2px 4px;
	}
}

.menu-button-component {
	width: 30px;
    height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	@include commonHoverBg;
}

.menu-items {
	border: 1px solid $inputBorderColor;
	.menu-item {
		@include dropdownItem;
		padding: 2px 4px;
	}
}
.image-component {
	border: 1px solid $inputBorderColor;
	width: 120px;
	height: 120px;
	cursor: pointer;
	font-size: 11px;
	.image-container {
		height: 100%;
		width: 100%;
		background-color: #404c56;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		.image-info {
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: rgba(255, 255, 255, 0.9);
		}
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.textarea-component {
	resize: none;
} 