$red: rgb(210, 12, 12);
$normal: rgb(120,140,155);
$myBlue: #5c86a7;

@import "./panel_bbs_menu.scss";
@import "./panel_sure_list.scss";
@import "./panel_res_list.scss";
.panel-container {
	display: flex;
	flex-direction: column;
	flex:1;
	.panel-command-bar {
		display: flex;
		padding: 0 2px 2px 2px; 
		border-bottom: 1px solid #ccc;
		align-items: center;
		overflow-x: hidden;
	}
	.panel-content {
		flex:1;
		overflow: auto;
		position: relative;
	}

}