@import "./panel-bbs-menu.scss";
@import "./panel-sure-list.scss";
@import "./panel-res-list.scss";
@import "./panel-image.scss";

.panel-container {
	display: flex;
	flex-direction: column;
	flex:1;
	.panel-command-bar {
		display: flex;
		padding: 0 2px 2px 2px; 
		border-bottom: 1px solid #ccc;
		align-items: center;
		overflow-x: hidden;
	}
	.panel-content {
		flex:1;
		overflow-x: hidden;
		position: relative;
	}

}