.panel-container.panel-form {
	.panel-loading-bar {
		top: 0px;
		bottom: initial;
	}
	.form-container {
		padding: 4px;
		width: 100%;
		height: 80%;
		.form-textarea {
			width: 100%;
			height: 100%;
		}
		.form-buttons {
			margin-top: 4px;
			display: flex;
		}
	}

}