$tofuBoarder: #bbbbbb;
$inputBorderColor: #bbb;
$hoverColor: #d5e1f2;
$hoverBorderColor: #97b4dc;
$activeColor: #adc6e6;
$activeBorderColor: #97b4dc;
$kukokeBlue: #5c86a7;
$kukokeLightBlue: #3289ce;
$baseWhite: #fefefe;
