@import "./const.scss";

@import "./tofu/tofu.scss";
@import "./view/side-bar.scss";
@import "./view/status-bar.scss";
@import "./component/component.scss";
@import "./panel/panel.scss";
@import "./common/popup.scss";
@import "./common/emoji.scss";

*, *:before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font-size: 13px;
	color: #333;
}

body, input, textarea, button {
	font-family: メイリオ, "Yu Gothic", "MS PGothic";
}


.app-container {
	height: calc(100% - 22px);
	width: 100%;
	display: flex;
}

.status-bar-container {
	font-size: 12px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	overflow: hidden;
	color: #eee;
	height: 22px;
	background-color: $kukokeBlue;
}

.icon {
	fill: currentColor;
	&.icon-s {
		width: 13px;
		min-width: 13px;
		height: 13px;
	}
	&.icon-m {
		width: 24px;
		min-width: 24px;
		height: 24px;
	}
}