@import "./const.scss";

@import "./tofu/tofu.scss";
// @import "./view/side-bar.scss";
// @import "./view/status-bar.scss";
@import "./component/component.scss";
@import "./component/virtualList.scss";
@import "./panel/panel.scss";
@import "./common/popup.scss";
@import "./common/emoji.scss";

*, *:before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font-size: 13px;
	color: #2d2d2d;
	line-height: 20px;
}

body, input, textarea, button {
	font-family: "Segoe UI", メイリオ, "MS PGothic";
}


.app-container {
	// height: calc(100% - 22px);
	height: 100%;
	width: 100%;
	display: flex;
}

.icon {
	fill: currentColor;
	&.icon-s {
		width: 13px;
		min-width: 13px;
		height: 13px;
	}
	&.icon-m {
		width: 24px;
		min-width: 24px;
		height: 24px;
	}
}

.highlight-word {
	background-color: rgb(243, 166, 42);
}