.popup {
	position: absolute;
	overflow-y: auto;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
	background-color: #fefefe;
	z-index: 100000;
}

.popup-overlay {
	z-index: 100000;
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}

.popup-url {
	width: 400px;
	input {
		width: 100%;
	}
}