body {
	font-family: "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #fbfbfb;
    color: #333;
    font-weight: 500;
}

.top-container {
    background: radial-gradient(at top, #706c8c 0%, #263f58 100%);
    color: white;
    padding: 40px 0 20px 0;
    text-align: center;
}

.github-labels {
    margin-top: 20px;
}
.github-labels img {
    margin-right: 6px;
}
.badge-container {
    font-size: 12px;
    display: inline-flex;
    color: white;
    text-shadow: 0px 0.6px 0 rgba(0, 0, 0, 0.38);
    margin-right: 6px;
    border-radius: 4px;
    overflow: hidden;
    line-height: 20px;
    font-family: "メイリオ";
}
.badge-label {
    padding: 0 4px;
    background: linear-gradient(to bottom, #5f5f5f, #4d4d4d);
}
.badge-value {
    padding: 0 4px;
}
.badge-green {
    background-color: #40ba12;
}
.badge-blue {
    background-color: #0172b3;
}

.top-logo {
    font-size: 50px;
}

.description {
    margin-bottom: 8px;
}

.button {
    background-color: #fefefe;
    border: 1px solid #bbb;
    padding: 8px 10px;
    color: #267bc4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 4px;
}

.button:hover {
    background-color: #d5e1f2;
}
.button:active {
    background-color: #d5e1f2;
}

.body-container {
    flex-grow: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body-description {
    max-width: 60%;
    text-align: center;
}

.body-container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    box-shadow: 0px 0px 23px rgba(128, 128, 128, 0.5);
}
h2 {
    margin-bottom: 10px;
}
h3 {
    margin-top: 30px;
    margin-bottom: 6px;
}